/*topnavbar class here*/
body{
	margin: 0;
	font-family: Arial, sans-serif;
}

.container{
	margin:30px; 
}

.navbar{
	overflow: hidden;
	background-color: darkblue; 
	padding: 10px;  
	text-align: center;
}

.navbar a{
	color: white;
	text-decoration: none;
/*	float: left; */  
	font-size: 20px;
	padding: 0px 10px 0px 10px;
}
.logo{
	height: 30px; 
	padding: 0px 10px 0px 10px;
}
.logo_position{
	margin-right: 700px;
}

.home_bg_img{
/*	margin-left: 200px;*/
	background-image: url('https://www.homestaynetwork.org/wp-content/uploads/2016/06/2b.jpg');
	background-size: 100% 100%; 
	background-repeat: no-repeat;
/*	margin-top: -1px;*/
/*	opacity: 50%;*/
}
.center_content{
	padding: 100px 600px 400px 100px;
	color: white;
	text-shadow: 2px 2px 5px black;
}
.about_btn{
border: none;
background-color: red;
padding: 10px 30px;
font-size: 20px; 
border-radius: 50%
}
.about_btn a{
text-decoration: none;
color: white; 
}
/*
.row{ 
	display: table;
	clear: both;
}
*/
.column70{
	float:left;
	width: 70%; 
	padding: 20px;
	height: 350px;
}
.column30{ 
	background-color:#00579e;
	color: white;
	float:left;
	width: 20%;
	padding: 20px 40px; 	
	height: 400px;
	text-align: center;
}
.column33{ 
	background-color:darkblue;
	color: white;
	float:left;
	width: 33.33%;
	padding-top: 20px; 	
	height: 400px;
	text-align: center;
}

.about_bg_img{
	background-image: url('image/bg1.jpg');
	background-size: 100% 100%;
}
.about-title{
	padding: 600px 0px 10px 800px; 
}
.about-title b,h1 {
	color: white;
}
.padding-manager{
	padding: 10px 50px 10px 100px;
	color: black;
}

.padding-manager p{
	font-size: 
	20px;}

.dropdown{
	float: left;
	overflow: hidden;
}

/*	dropdown menu */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}